body {
  margin: 0;
  font-family: 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imageWrap>.imageIcon {
  opacity: 0;
}

.imageWrap:hover>.imageIcon {
  opacity: 1;
}
